extends layout

block content
	header.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			.navbar-header
				a.navbar-brand(href="/") Help Requester
			ul.nav.navbar-nav.navbar-right
				li <a href="/reports">Reports</a>
				li <a href="/charts">Charts</a>
			ul.nav.navbar-nav.navbar-right.pull-right
				li.dropdown#user-dropdown
					a.dropdown-toggle(href="/teacher", data-id="#{user._id}", data-toggle="dropdown", data-user="#{user.displayName}") #{user.displayName}<b class="caret"></b></a>
					ul.dropdown-menu
						li <a href="/teacher">Teacher Home</a>
						li <a href="/reports">Reports</a>
						li <a href="/summary">Summary Reports</a>
						li <a href="/charts">Charts</a>
						li.divider
						li <a href="/logout">Sign Out</a>
	.container#builtWith
		h1 This App was built in Colorado with <span id='heart'>♡</span> by <a href="http://www.richardalucas.com">Richard Lucas</a>
		h2 Using the following awesome technologies and libraries:
		ul#builtWithList
			li Node.js
			li MongoDB
			li CoffeeScript
			li Stylus
			li Express
			li Underscore.js
			li Moment.js
			li Socket.io
			li jQuery and jQueryUI
			li AJAX Requests
			li Twitter Bootstrap
			li Animate.css
			li High Charts
			li Charts.js
			li Passport.js

	.container
		p.lead My Github: <a href="https://github.com/ralucas">ralucas</a>
		p.lead Contact Me: <a href="mailto:richard@richardalucas.com">richard@richardalucas.com</a>
		p.lead My Site: <a href="http://www.richardalucas.com">http://www.richardalucas.com</a>
