block footer
	footer.navbar.navbar-default.navbar-fixed-bottom.footer-bar
		.container
			p.navbar-text.navbar-right.pull-right Made in Colorado with <span id='heart'>♡</span> by <a href="http://www.richardalucas.com">Richard Lucas</a>
			p.navbar-text.navbar-left.pull-left Copyright ©2013

	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
	script(src="/javascripts/lib/jquery.timepicker.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.2/highcharts.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/lib/utility.js")
	script(src="/javascripts/lib/charts.js")
	script(src="/javascripts/lib/reports.js")
	script(src="/javascripts/lib/main.js")