extends layout

block header
	header.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			.navbar-header
				a.navbar-brand.pull-left(href="/") Help Requester
			p.navbar-text.pull-left#studentclock
			ul.nav.navbar-nav
				li <a href="/currentrequests">Edit Current Requests</a>
			ul.nav.navbar-nav.navbar-right.pull-right
				li.dropdown#user-dropdown
					a.dropdown-toggle(href="/student", data-id="#{user._id}", data-toggle="dropdown", data-user="#{user.displayName}") #{user.displayName}<b class="caret"></b></a>
					ul.dropdown-menu
						li <a href="/student">Student Home</a>
						li <a href="/currentrequests">Current Requests</a>
						li <a href="/pastrequests">Past Requests</a>
						li.divider
						li <a href="/logout">Sign Out</a>			
block content