extends layout

block content
	header.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			.navbar-header
				button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1") Button
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/") Requester
			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav
					li <a href="#">Link</a>
					li <a href="#">Link</a>
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown <b class="caret"></b>
					ul.dropdown-menu
						li <a href="#">Action</a>
						li <a href="#">Action</a>
						li <a href="#">Action</a>
						li.divider
						li <a href="#">Separated link</a>
						li.divider
						li <a href="#">Separated link</a>
					form.navbar-form.navbar-left(role="search")
						.form-group
							input.form-control(type="text", placeholder="Search")
						button.btn.btn-default(type="submit") Submit
					ul.nav.navbar-nav.navbar-left
						li <a href="#">Link</a>
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown <b class="caret"></b>
							ul.dropdown-menu
								li <a href="#">Action</a>
								li <a href="#">Action</a>
								li <a href="#">Action</a>
								li.divider
								li <a href="#">Separated link</a>
					ul.nav.navbar-nav.navbar-right
						li.dropdownt#user-dropdown
							a.dropdown-toggle(href="#{user._id}", data-toggle="dropdown") #{user.displayName}<b class="caret"></b></a>
							ul.dropdown-menu
								li <a href="#">Action</a>
								li <a href="#">Action</a>
								li <a href="#">Action</a>
								li.divider
								li <a href="#">Separated link</a>
	.jumbotron
		.container#now-btn
			h1 Greetings #{user.displayName}
			button.btn.btn-lg.btn-success.animated.flash.tada Request help right now
	.container#issueinput
		form.form-horizontal#help-form(role="form")
			p.lead We'd love for you to tell us about your issue
			.form-group
				textarea.form-control#issue(rows="5", name="issue", placeholder="Issue?")
			.form-group
				button.btn.btn-lg.btn-primary#submit-btn Click Here!


	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/lib/main.js")