doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lib/animate.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/style.css')
  body
    block header
    block content
    block footer
    block scripts