doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lib/animate.css')
    link(rel='stylesheet', href='/stylesheets/lib/jquery.timepicker.css')
    link(rel='stylesheet' href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/style.css')
  body.standard-page
    block header
    block content
    