extends layout

block header
	header.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			.navbar-header
				a.navbar-brand.pull-left(href="/") Help Requester
			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav.navbar-right
					li
					a.btn.btn-default.navbar-btn(href="/auth/google") Sign In with Google
block content
	section#first
		section.jumbotron#hero
			.container
				h1.col-md-8#login-title Welcome to Help Requester
				aside.signins.col-md-4
					p.signin-btn#goog-btn <a class="btn btn-lg btn-success" href="/auth/google"> Sign In with Google</a>
					//- p.signin-btn#face-btn <a class="btn btn-lg btn-primary" href="#"> Sign In with Facebook</a>
					//- p.signin-btn#git-btn <a class="btn btn-lg btn-default" href="#"> Sign In with Github</a>
	section.text-section#second
		.container
			.row.col-md-5
				h2 What is Help Requester?
				p.lead An easy-to-use application for students to request help in real-time from teachers. A simple way for busy teachers to keep track of and respond to requests.
			.row.col-md-2
			.row.col-md-5
				h2 How it Works
				p.lead Simply login and either hit the big green button to request teacher help or fill-in the form to give more information. The teacher then is able to see that real-time request and respond.
	section.text-section#third
		.container
			.row
				h2 Great Reporting and Charting
				p.lead Includes reporting and charting features for educators and administrators,<br> enabling the user to visualize patterns and see what's going on in the classroom.
				br
				p.lead <span>It's free to try!<span> Go ahead and login using your <a href="/auth/google">Google login</a>.
	include footer