extends index

block content
	.container#reports
		h1 Teacher Reports
		//- p.filter-click Click here to filter the data
		.filter-buttons.btn-group
			button.btn.btn-default.dropdown-toggle.btn-xs.search-filter(type='button', data-toggle='dropdown') Search by <span class="caret"></span>
			ul.dropdown-menu(role="menu")
				li#name-search.search-menu(data-type="displayName") Name
				li.divider
				li#lesson-search.search-menu(data-type="lesson") Lesson
				li.divider
				li#issue-search.search-menu(data-type="issue") Issue
				li.divider
				li#comment-search.search-menu(data-type="comment") Comment
			.btn-group.date-filter
				button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown') Date Filter <span class="caret"></span>
				ul.dropdown-menu.date-menu(form='menu')
					li Date from: <input type="text" id="fromDate" name="fromDate"/>
					li Date to: <input type="text" id="toDate" name="toDate"/>
			.btn-group.timerange-filter
				button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown') Time Range Filter <span class="caret"></span>
				ul.dropdown-menu.race-dd
		.row.search-input.hidden
			.input-group.input-group-sm.search-row
				input#search-value.form-control(type='text', placeholder="Search")
				span.input-group-btn
					button.btn.btn-default.search-btn(type="button") Search
		button.btn.btn-default.btn-xs.reset-btn(type='button') Reset Filters
		p Click on headers to sort by that criteria
		table.table.table-hover#reportsTable
			thead 
				tr#reportsHeaders
					th(data-type="displayName") Name
					th(data-type="time") Time Entered
					th(data-type="totalWait") Time Waited
					th(data-type="lesson") Lesson
					th(data-type="issue") Issue
					th(data-type="comment") Comment
			tbody#reportsBody