extends index

block content
	.container#reports
		h1 Teacher Reports
		table.table.table-hover#reportsTable
			thead 
				tr#reportsHeaders
					th(data-type="displayName") Name
					th(data-type="time") Time Entered
					th(data-type="totalWait") Time Waited
					th(data-type="lesson") Lesson
					th(data-type="issue") Issue
					th(data-type="comment") Comment
			tbody#reportsBody