extends index

block content
	.container#reports
		h1 Teacher Reports
		table.table.table-hover#reportsTable
			thead 
				tr#reportsHeaders
					th#nameHead Name
					th#timeentHead Time Entered
					th#timewaitHead Time Waited
					th#lessonHead Lesson
					th#issueHead Issue
					th#commentHead Comment
			tbody#reportsBody