extends layout

block content
	header.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			.navbar-header
				a.navbar-brand(href="/") Requester
			ul.nav.navbar-nav.navbar-right
				li <a href="/reports">Reports</a>
				li <a href="/charts">Charts</a>
			ul.nav.navbar-nav.navbar-right.pull-right
				li.dropdown#user-dropdown
					a.dropdown-toggle(href="/teacher", data-id="#{user._id}", data-toggle="dropdown", data-user="#{user.displayName}") #{user.displayName}<b class="caret"></b></a>
					ul.dropdown-menu
						li <a href="/teacher">Teacher Home</a>
						li <a href="/reports">Reports</a>
						li <a href="/charts">Charts</a>
						li.divider
						li <a href="/logout">Sign Out</a>
	.container#reports
		h1 Summary Info
		table.table.table-bordered#summaryTable
			thead 
				tr#summaryHeaders
					th Total Requests to Date
					th Avg Wait Time
					th.date-thead
					th.day-thead
					th Most Common Term from issues
					th Most Common Term from comment
					th Biggest Requester
			tbody#summaryBody

		h1 Teacher Reports
		//- p.filter-click Click here to filter the data
		.filter-buttons.btn-group
			button.btn.btn-default.dropdown-toggle.btn-xs.search-filter(type='button', data-toggle='dropdown') Search by <span class="caret"></span>
			ul.dropdown-menu(role="menu")
				li#name-search.search-menu(data-type="displayName") Name
				li.divider
				li#lesson-search.search-menu(data-type="lesson") Lesson
				li.divider
				li#issue-search.search-menu(data-type="issue") Issue
				li.divider
				li#comment-search.search-menu(data-type="comment") Comment
			.btn-group.date-filter
				button.btn.btn-default.btn-xs#date-btn(type='button') Date Filter
			.btn-group.timerange-filter
				button.btn.btn-default.btn-xs#time-btn(type='button') Time Range Filter
		.row.input-group.input-group-sm.date-row.filter-input.hidden
			p Date from: <input type="text" id="fromDate" name="fromDate"/>
			p Date to: <input type="text" id="toDate" name="toDate"/>
			button.btn.btn-default.btn-xs#cancel-date(type='button') Cancel
			button.btn.btn-primary.btn-xs#submit-date(type='button') Submit
		.row.input-group.input-group-sm.filter-input.time-row.hidden
			p Time from: <input type="text" id="fromTime" name="fromTime"/>
			p Time to: <input type="text" id="toTime" name="toTime"/>
			button.btn.btn-default.btn-xs#cancel-time(type='button') Cancel
			button.btn.btn-primary.btn-xs#submit-time(type='button') Submit
		.row.search-input.filter-input.hidden
			.input-group.input-group-sm.search-row
				input#search-value.form-control(type='text', placeholder="Search")
				span.input-group-btn
					button.btn.btn-primary.search-btn(type="button") Search
				span.input-group-btn
					button.btn.btn-default.cancel-search(type="button") Cancel
		.row.reset-row
			button.btn.btn-default.btn-sm.reset-btn(type='button') Reset Filters
		p Click on headers to sort by that criteria
		table.table.table-hover#reportsTable
			thead 
				tr#reportsHeaders
					th(data-type="displayName") Name
					th(data-type="timeStamp") Time Entered
					th(data-type="totalWait") Time Waited
					th(data-type="lesson") Lesson
					th(data-type="issue") Issue
					th(data-type="comment") Comment
			tbody#reportsBody
	include footer