extends index

block content
	.jumbotron#studentjumbo
		.container#now-btn
			h1 Greetings #{user.displayName}
			button#requestbtn.btn.btn-lg.btn-success.show.animated.tada Request help right now
			button#figurebtn.btn.btn-lg.btn-warning.hidden Did you figure it out
	.container#issueinput
		form.form-horizontal#help-form(role="form")
			p.lead We'd love for you to tell us about your issue
			.form-group
				textarea.form-control#issue(rows="5", name="issue", placeholder="Issue?")
			.form-group
				button.btn.btn-lg.btn-primary#submit-btn Click Here!