extends layout

block content
	header.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			.navbar-header
				a.navbar-brand(href="/") Help Requester
			ul.nav.navbar-nav.navbar-right
				li <a href="/reports">Reports</a>
				li <a href="/charts">Charts</a>
			ul.nav.navbar-nav.navbar-right.pull-right
				li.dropdown#user-dropdown
					a.dropdown-toggle(href="/teacher", data-id="#{user._id}", data-toggle="dropdown", data-user="#{user.displayName}") #{user.displayName}<b class="caret"></b></a>
					ul.dropdown-menu
						li <a href="/teacher">Teacher Home</a>
						li <a href="/reports">Reports</a>
						li <a href="/summary">Summary Reports</a>
						li <a href="/charts">Charts</a>
						li.divider
						li <a href="/logout">Sign Out</a>
	.container#reports
		h1 Summary Info
		table.table.table-striped#summaryTable
			thead 
				tr#summaryHeaders
					th Total Requests to Date
					th Avg Wait Time
					th.date-thead
					th.day-thead
					th Most Common Term from issues
					th Most Common Term from comment
					th Biggest Requester
			tbody#summaryBody
	.container#summaryReports
		p.lead Select Report to View
			button.btn.btn-default.btn-lg#summResetBtn(type='button') Reset
		.btn-group
			button.btn.btn-default.btn-lg#userSumBtn(type="button") User Request Summary
			button.btn.btn-default.btn-lg#dateSumBtn(type="button") Date Request Summary
		table.table.table-hover#summaryReportsTable
			thead
			tbody
	include footer