extends layout

block content
	header.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			.navbar-header
				a.navbar-brand(href="/") Requester
			ul.nav.navbar-nav.navbar-right
				li <a href="/reports">Reports</a>
				li <a href="/charts">Charts</a>
			ul.nav.navbar-nav.navbar-right.pull-right
				li.dropdown#user-dropdown
					a.dropdown-toggle(href="/teacher", data-id="#{user._id}", data-toggle="dropdown", data-user="#{user.displayName}") #{user.displayName}<b class="caret"></b></a>
					ul.dropdown-menu
						li <a href="/teacher">Teacher Home</a>
						li <a href="/reports">Reports</a>
						li <a href="/charts">Charts</a>
						li.divider
						li <a href="/logout">Sign Out</a>		
	.container#teacherInput
		.row.lessonrow
			h1 Welcome #{user.displayName}
			p#date
			button.btn.btn-success.btn-lg.hidden#change-lesson(type="button") Update Lesson Plan
			form(role="form")#lessonForm
				p.lead Please input today's lesson
				.form-group
					label(for="inputLesson") Lesson
					input.form-control#lessonInput(type="text", placeholder="Enter lesson")
				//- .form-group
				//- 	label(for="inputFile") Upload Lesson plan
				//- 	input#inputFile(type="file")
				//- 	p.help-block JSON format preferred or .docx, .pdf, .odt, .xls
				button.btn.btn-primary.btn-lg#tchr-sub-btn(type="submit") Submit
	section
		.container#helprequests
			h1#helptitle Help Requests
			h2#teacherclock
			table.table.table-hover#helptable
				thead 
					tr
						th ✔
						th Name
						th Time
						th Wait
						th Issue
						th Comment
				tbody
	include footer