body
	padding-top 50px
	padding-bottom 50px

#user-dropdown
	float right

// teacher styling
#teacherInput h1, h2, p
	text-align center

#teacherInput
	width 50%
	text-align center

.help-block
	text-align left

#helptitle
	text-align center

.comment
	color hsl(0, 0%, 65%)

.comment:hover
	text-decoration underline
	font-weight bolder
	color red
	cursor pointer

.commentbox
	max-width 200px
	font-size 10px

//reports	

#reports
	text-align center

#reportsBody tr
	text-align left

#reportsHeaders th
	color hsla(0, 0%, 0%, 0.6)

#reportsHeaders th:hover
	color blue
	cursor pointer

#reports p
	color hsla(0, 0%, 0%, 0.6)

#reports .filter-click:hover
	color blue
	cursor pointer

.search-menu:hover
	background-color hsl(0, 0%, 97%)
	cursor pointer

.search-row
	width 50%
	margin-right auto
	margin-left auto

.reset-row
	margin-top 1%
	margin-bottom 1%

.filter-input
	margin-top 1%

.time-row, .date-row
	background-color #f8f8f8
	border-color #e7e7e7
	margin-right auto
	margin-left auto

.time-row p, .date-row p
	text-align right

#summaryHeaders th
	text-align center

#summaryReportsTable
	margin-right auto
	margin-left auto
	width 50%
	text-align center

#summaryReports
	text-align center
	margin-top 1%

#summaryReportsTable th
	text-align center

#summResetBtn
	display block
	text-align center
	margin-left auto
	margin-right auto
	margin-top 1%
	margin-bottom 1%

//charts
.chart
	text-align center

// student styling
#studentjumbo
	background rgba(0,0,0,0.8)
	background url(/images/handsraised.png) center no-repeat
	color hsl(0, 0%, 65%)
	text-align center

#issueinput
	width 50%

#now-btn
	font-size: 48px

#now-btn button
	width 50%
	height 100px
	font-size 48px
	margin-right auto
	margin-left auto

#currentReq h1
	text-align center

#pastReq h1
	text-align center

.edit
	color blue

.edit:hover
	text-decoration underline
	font-weight bolder
	color green
	cursor pointer

// login styling
#hero
	background url(/images/classroom1.png) center top no-repeat
	background-size cover
	width 100%
	max-height 1000px
	height 600px
	color snow
	margin-bottom 0

#hero .signins p
	text-align right

.signins
	margin-top 2%
	text-align right

#help-form button
	text-align center

#hero h1
	font-size	120px

#second
	border-color hsl(0, 0%, 91%)
	background hsl(208, 56%, 53%) center top no-repeat
	color snow

#second h2
	text-align center