body
	padding 50px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color #00B7FF

#user-dropdown
	float right

#teacherinput h1, p
	text-align center

#teacherinput
	width 50%

.help-block
	text-align left

#tchr-sub-btn
	text-align center

#issueinput
	width 50%

#now-btn
	margin 2%
	text-align center

#now-btn button
	width 50%
	height 100px