body
	padding-top 50px

#user-dropdown
	float right

// teacher styling
#teacherinput h1, p
	text-align center

#teacherinput
	width 50%

.help-block
	text-align left

#tchr-sub-btn
	text-align center

#helptitle
	text-align center

// student styling
#issueinput
	width 50%

#now-btn
	margin 2%
	text-align center
	font-size: 48px

#now-btn button
	width 50%
	height 100px
	font-size: 48px


// login styling
#hero
	background url(/images/classroom.png) center top no-repeat
	background-size cover
	width 100%
	max-height 1000px
	height 600px
	color snow
	margin-bottom 0

#hero .signins p
	text-align right

.signins
	margin-top 2%
	text-align right

#help-form button
	text-align center

#hero h1
	font-size	120px

#second
	border-color hsl(0, 0%, 91%)
	background hsl(208, 56%, 53%) center top no-repeat
	color snow

#second h2
	text-align center